.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
.vscode
platformio.ini
.DS_Store
.cache/clangd/index/Adafruit_BusIO_Register.cpp.D9E64563501CB7A6.idx
.cache/clangd/index/Adafruit_BusIO_Register.h.DC0AC94050647C63.idx
.cache/clangd/index/Adafruit_GenericDevice.cpp.A54205E04E0FD58A.idx
.cache/clangd/index/Adafruit_GenericDevice.h.A819590FBA48CD09.idx
.cache/clangd/index/Adafruit_GFX.cpp.2689A49582BA7393.idx
.cache/clangd/index/Adafruit_GFX.h.6A715BA28DE32405.idx
.cache/clangd/index/Adafruit_GrayOLED.cpp.C471816692B16B8F.idx
.cache/clangd/index/Adafruit_GrayOLED.h.8213C7D61F8FB378.idx
.cache/clangd/index/Adafruit_I2CDevice.cpp.31DCE1C1F87385C0.idx
.cache/clangd/index/Adafruit_I2CDevice.h.1B707F98F5A6007D.idx
.cache/clangd/index/Adafruit_SH110X.cpp.7BB11EB6EE41A05D.idx
.cache/clangd/index/Adafruit_SH110X.h.A674587E89209BFB.idx
.cache/clangd/index/Adafruit_SH1106G.cpp.072C5472A4BD6492.idx
.cache/clangd/index/Adafruit_SH1107.cpp.36C4E4C176CC56A8.idx
.cache/clangd/index/Adafruit_SPIDevice.cpp.31BE6EF7228E9FEC.idx
.cache/clangd/index/Adafruit_SPIDevice.h.C4734B7B50C947C3.idx
.cache/clangd/index/Adafruit_SPITFT.cpp.D5B35EE0B961E156.idx
.cache/clangd/index/Adafruit_SPITFT.h.60DB007C71DF19DC.idx
.cache/clangd/index/app_config.h.33C5AFAEF9A7272C.idx
.cache/clangd/index/board_user_config.h.39F26757A73E27AC.idx
.cache/clangd/index/gfxfont.h.BBC8BE829F18A278.idx
.cache/clangd/index/glcdfont.c.692A4C2AF487453D.idx
.cache/clangd/index/main.cpp.E6BCF81FBBD3B812.idx
.cache/clangd/index/mesh_packet.cpp.172282F6799E8BF4.idx
.cache/clangd/index/mesh_packet.h.7A2B96240960E898.idx
.cache/clangd/index/mesh.cpp.A1BD614D037975A4.idx
.cache/clangd/index/mesh.h.5D5EB1A9472FE95C.idx
.cache/clangd/index/node_identity.cpp.136CF418EE99A04C.idx
.cache/clangd/index/node_identity.h.60F1C01A7F802839.idx
.cache/clangd/index/node_state.h.744E0AD5C1494D1A.idx
.cache/clangd/index/oled_ui.cpp.143BEC9E9E8D0A2A.idx
.cache/clangd/index/oled_ui.h.5946FFB47F18D7E9.idx
.cache/clangd/index/peer_registry.cpp.26A961F965A48350.idx
.cache/clangd/index/peer_registry.h.37390897FC7DCA9B.idx
.cache/clangd/index/splash.h.15F55DD8EB65CB83.idx
.cache/clangd/index/status_button.cpp.805CDFC1608F5157.idx
.cache/clangd/index/status_button.h.E5FD21A9B405BE5C.idx
.cache/clangd/index/status_ping_bad.cpp.B3B45A35171F193F.idx
.cache/clangd/index/status_ping_confirmation.cpp.0C4AA262E008B39C.idx
.cache/clangd/index/status_ping_good.cpp.32D3C769C1664E88.idx
.cache/clangd/index/status_ping_ok.cpp.453EC5704BEA51FC.idx
.cache/clangd/index/status_ping.h.D1300D8266B0F077.idx
.cache/clangd/index/onboard_led.h.DC822D2FB639BCEA.idx
boards/waveshare_esp32_s3_zero.json
src/Tests/waveshare_led_test.cpp
